# Sekrety i konfiguracja lokalna
.env
instance/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Logi
logs/
*.log

# Baza danych
*.db
*.sqlite

# Raporty i pliki tymczasowe
*.pdf
.pytest_cache/
.coverage
htmlcov/

# Edytory i IDE
.vscode/
.idea/
*.swp
*.swo
.nvim/

# OS
.DS_Store
Thumbs.db
